<div class="flex flex-col bg-gray-700 rounded-lg divide-y divide-gray-300">
  <button
    *ngFor="let category of categories; let i = index"
    (click)="selectCategory(i)"
    [ngClass]="{
      'bg-gray-500 text-white': selectedCategory === i,
      'hover:bg-gray-600 text-gray-300': selectedCategory !== i,
      'rounded-t-lg': i === 0,
      'rounded-b-lg': i === categories.length - 1
    }"
    class="w-full py-2.5 px-3 text-left transition-colors"
  >
    {{ category }}
  </button>
</div>
