<div class="p-6 bg-white shadow-md rounded-md">
  <h2 class="text-2xl font-semibold text-gray-800 mb-6">Add Product</h2>
  <form (ngSubmit)="onSubmit()" class="space-y-4">
    <div class="flex flex-col">
      <label for="name" class="text-sm font-medium text-gray-700">Name</label>
      <input
        id="name"
        type="text"
        [(ngModel)]="product.name"
        name="name"
        required
        class="mt-1 p-2 border border-gray-300 rounded-md"
      />
    </div>

    <div class="flex flex-col">
      <label for="description" class="text-sm font-medium text-gray-700"
        >Description</label
      >
      <textarea
        id="description"
        [(ngModel)]="product.description"
        name="description"
        required
        class="mt-1 p-2 border border-gray-300 rounded-md"
        rows="3"
      ></textarea>
    </div>

    <div class="flex flex-col">
      <label for="image" class="text-sm font-medium text-gray-700"
        >Image name</label
      >
      <input
        id="image"
        type="text"
        [(ngModel)]="product.image"
        name="image"
        required
        class="mt-1 p-2 border border-gray-300 rounded-md"
      />
    </div>

    <div class="flex flex-col">
      <label for="price" class="text-sm font-medium text-gray-700">Price</label>
      <input
        id="price"
        type="number"
        [(ngModel)]="product.price"
        name="price"
        required
        class="mt-1 p-2 border border-gray-300 rounded-md"
      />
    </div>

    <div class="flex flex-col">
      <label for="stock" class="text-sm font-medium text-gray-700">Stock</label>
      <input
        id="stock"
        type="number"
        [(ngModel)]="product.stock"
        name="stock"
        required
        class="mt-1 p-2 border border-gray-300 rounded-md"
      />
    </div>

    <div class="flex flex-col">
      <label for="weight" class="text-sm font-medium text-gray-700"
        >Weight (grams)</label
      >
      <input
        id="weight"
        type="number"
        [(ngModel)]="product.weight_g"
        name="weight"
        required
        class="mt-1 p-2 border border-gray-300 rounded-md"
      />
    </div>

    <div class="flex flex-col">
      <label for="height" class="text-sm font-medium text-gray-700"
        >Height (mm)</label
      >
      <input
        id="height"
        type="number"
        [(ngModel)]="product.height_mm"
        name="height"
        required
        class="mt-1 p-2 border border-gray-300 rounded-md"
      />
    </div>

    <button
      type="submit"
      class="w-full py-2 px-4 bg-blue-600 text-white rounded-md"
    >
      Add Product
    </button>
  </form>
</div>
