<div class="p-4">
  <h2
    class="text-3xl font-semibold mb-8 border-b-2 border-gray-700 inline-block"
  >
    Tietosuojaseloste
  </h2>

  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Rekisterinpitäjä</h3>
    <p class="text-gray-700">
      Leevi Lautanen Tommo Topias (3491157-4)<br />
      Kaivosuonkatu 1 A 19<br />
      53850 Lappeenranta<br />
      bittiboksi.aspa&#64;gmail.com <br />
      +358 445 065 576 <br />
    </p>
  </section>

  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Rekisterin nimi</h3>
    <p class="text-gray-700">BittiBoksin asiakasrekisteri.</p>
  </section>

  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">
      Oikeusperuste ja henkilötietojen käsittelyn tarkoitus
    </h3>
    <p class="text-gray-700">
      Henkilötietojen käsittely perustuu asiakkaan suostumukseen ja on
      tarpeellista, jotta asiakkaaseen voidaan ottaa yhteyttä ja yhdistää hänen
      yhteystietonsa tilaukseen.
    </p>
    <p class="text-gray-700"></p>
  </section>

  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">
      Rekisterin tietosisältö
    </h3>
    <p class="text-gray-700">
      Rekisteriin tallennettavia tietoja ovat: henkilön nimi ja yhteystiedot
      (sähköpostiosoite, puhelinnumero, osoite).
    </p>
  </section>

  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">
      Säännönmukaiset tietolähteet
    </h3>
    <p class="text-gray-700">
      Rekisteriin tallennettavat tiedot saadaan asiakkaalta, kun asiakas antaa
      tietonsa tilauksen yhteydessä.
    </p>
  </section>

  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">
      Tietojen säilytysaika
    </h3>
    <p class="text-gray-700 text-justify">
      Henkilötietoja säilytetään niin kauan kuin se on tarpeen tilausten
      käsittelyä, asiakassuhteen ylläpitoa ja lakisääteisten velvoitteiden
      täyttämistä varten.
    </p>
  </section>

  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">
      Tietojen jakaminen kolmansille osapuolille
    </h3>
    <p class="text-gray-700">
      Tilauksen käsittelyn yhteydessä henkilötietoja voidaan jakaa
      maksupalveluntarjoajille ja kuljetusyrityksille. Esimerkiksi
      maksutapahtumissa tietoja jaetaan PayPalille maksun käsittelemiseksi.
      PayPal toimii itsenäisenä rekisterinpitäjänä ja käsittelee tietoja omien
      tietosuojakäytäntöjensä mukaisesti. Lisätietoja löydät PayPalin
      <a
        href="https://www.paypal.com/fi/webapps/mpp/ua/privacy-full?locale.x=fi_FI"
        class="text-blue-500 underline"
        target="_blank"
        >tietosuojaselosteesta</a
      >.
    </p>
  </section>

  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">
      Tarkastusoikeus ja oikeus vaatia tiedon korjaamista ja poistamista
    </h3>
    <p class="text-gray-700">
      Jokaisella rekisterissä olevalla henkilöllä on oikeus tarkistaa
      rekisteriin tallennetut tietonsa, vaatia mahdollisen virheellisen tiedon
      korjaamista ja vaatia tietojen poistoa. Mikäli henkilö haluaa tarkistaa
      hänestä tallennetut tiedot tai vaatia niiden oikaisua tai poistoa, pyyntö
      tulee lähettää asiakaspalvelumme sähköpostiosoitteeseen
      bittiboksi.aspa&#64;gmail.com. Rekisterinpitäjä voi pyytää tarvittaessa
      pyynnön esittäjää todistamaan henkilöllisyytensä. Rekisterinpitäjä vastaa
      asiakkaalle ilman aiheetonta viivytystä ja viimeistään kuukauden kuluessa
      pyynnön vastaanottamisesta.
    </p>
  </section>

  <!-- Contact info -->
  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Ota yhteyttä</h3>
    <p class="text-gray-700">
      Jos sinulla on kysymyksiä liittyen tietosuojaan tai haluat tarkistaa tai
      muuttaa sinusta säilytettäviä tietoja, ota yhteyttä asiakaspalveluumme:
    </p>
    <ul class="space-y-4 mt-4 text-gray-700">
      <li><strong>Sähköposti:</strong> bittiboksi.aspa&#64;gmail.com</li>
      <li><strong>Puhelin:</strong> +358 445 065 576</li>
    </ul>
  </section>
</div>
