/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.no-spinner {
  appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  appearance: none;
}

.spinner-always::-webkit-inner-spin-button,
.spinner-always::-webkit-outer-spin-button {
  opacity: 1;
}

.light-card {
  @apply mx-auto bg-gray-50 border border-lightCard rounded-sm shadow-md p-6 mb-8;
}

.checkout-card {
  @apply mx-auto bg-gray-50 border border-lightCard rounded-sm shadow-md p-6 mb-8;
}

.link {
  @apply text-blue-400 underline;
}
