<div class="flex items-center space-x-1">
  <button class="mt-2" (click)="decreaseQuantity()">
    <ng-icon
      name="bootstrapDashCircleFill"
      class="text-xl text-white"
    ></ng-icon>
  </button>
  <input
    type="number"
    [(ngModel)]="quantity"
    class="w-9 text-center rounded-lg px-2 no-spinner"
  />
  <button class="mt-2" (click)="increaseQuantity()">
    <ng-icon
      name="bootstrapPlusCircleFill"
      class="text-xl text-white"
    ></ng-icon>
  </button>
  <button
    (click)="addToCart()"
    class="bg-green-500 pt-1 px-1.5 ml-2 rounded-lg hover:bg-green-700 transition-colors"
  >
    <ng-icon name="bootstrapCartPlus" class="text-xl"></ng-icon>
  </button>
</div>
