<nav class="flex items-center text-white p-3">
  <!-- Name -->
  <div class="flex space-x-4">
    <a href="/" class="text-xl font-bold">BittiBoksi</a>
  </div>

  <!-- Navbar links -->
  <div class="hidden sm:flex space-x-5 px-6">
    <a href="/tietoa-meistä" class="text-sm hover:text-gray-300"
      >Tietoa meistä</a
    >
    <a href="/toimitusehdot" class="text-sm hover:text-gray-300"
      >Toimitusehdot</a
    >
    <a href="/tietosuojaseloste" class="text-sm hover:text-gray-300"
      >Tietosuojaseloste</a
    >
  </div>

  <!-- Search bar (Hidden until implemented fully) -->
  <div class="hidden mx-auto space-x-2">
    <div class="relative flex items-center bg-gray-700 rounded-lg">
      <input
        type="text"
        placeholder="Etsi tuotteita..."
        class="w-20 sm:w-40 md:w-60 lg:w-80 p-2 pl-3 pr-3 bg-transparent text-white focus:outline-none"
      />
      <div class="h-6 border-l-2 border-gray-500"></div>
      <ng-icon name="bootstrapSearch" class="text-white text-lg mx-2"></ng-icon>
    </div>
  </div>

  <!-- Shopping cart -->
  <app-shopping-cart class="ml-auto"></app-shopping-cart>
</nav>
