<nav class="text-white p-3 flex justify-between items-center">
  <!-- Name -->
  <div class="flex items-center space-x-4">
    <a href="/" class="text-xl font-bold">BittiBoksi</a>
  </div>

  <!-- Navbar links -->
  <div class="flex items-center space-x-5 px-6">
    <a href="/" class="text-sm hover:text-gray-300">Koti</a>
    <a href="/" class="text-sm hover:text-gray-300">Tietoa</a>
    <a href="/" class="text-sm hover:text-gray-300">Ota yhteyttä</a>
  </div>

  <!-- Search bar -->
  <div class="flex flex-grow justify-center items-center space-x-2">
    <div class="relative flex items-center bg-gray-700 rounded-lg">
      <input
        type="text"
        placeholder="Etsi tuotteita..."
        class="p-2 pl-3 pr-3 sm:w-40 md:w-60 lg:w-80 bg-transparent text-white focus:outline-none"
      />
      <div class="h-6 border-l-2 border-gray-500"></div>
      <ng-icon name="bootstrapSearch" class="text-white text-lg mx-2"></ng-icon>
    </div>
  </div>

  <!-- Shopping cart -->
  <app-shopping-cart></app-shopping-cart>
</nav>
