<div class="p-4">
  <!-- Company introduction -->
  <section class="mb-8">
    <h2
      class="text-3xl font-semibold mb-4 border-b-2 border-gray-700 inline-block"
    >
      Tietoa meistä
    </h2>
    <p class="leading-relaxed">
      BittiBoksi on suomalainen verkkokauppa, joka tarjoaa edullisia
      elektroniikan komponentteja, kuten mikrokontrollereita, moduuleja ja
      peruskomponentteja. Tavoitteemme on tehdä elektronisten osien
      hankkimisesta helppoa ja nopeaa – tarjoamme edulliset hinnat ja nopeat
      toimitukset, jotta pääset nopeasti alkuun projekteissasi.
    </p>
  </section>

  <!-- Company information -->
  <section>
    <h2
      class="text-3xl font-semibold mb-4 border-b-2 border-gray-700 inline-block"
    >
      Yrityksen tiedot
    </h2>

    <ul class="space-y-4">
      <li>
        <span class="font-medium">Yrityksen nimi:</span> Leevi Tommo Topias
        Lautanen
      </li>
      <li><span class="font-medium">Y-tunnus:</span> 3491157-4</li>
      <li>
        <span class="font-medium">Osoite:</span> Kaivosuonkatu 1 A 19, 53850
        Lappeenranta
      </li>
      <li>
        <span class="font-medium">Sähköposti:</span>
        elektroniikka.osat&#64;gmail.com
      </li>
      <li>
        <span class="font-medium">Puhelin:</span>
        +358 445 065 576
      </li>
    </ul>
  </section>
</div>
