<div class="flex items-center space-x-2">
  <button class="mt-2" (click)="decreaseQuantity()">
    <ng-icon name="bootstrapDashCircleFill" class="text-3xl"></ng-icon>
  </button>
  <input
    type="number"
    [(ngModel)]="quantity"
    class="w-12 text-center text-2xl text-black rounded-lg px-2 no-spinner"
  />
  <button class="mt-2" (click)="increaseQuantity()">
    <ng-icon name="bootstrapPlusCircleFill" class="text-3xl"></ng-icon>
  </button>
  <button
    (click)="addToCart()"
    class="bg-green-600 px-2 py-1 rounded-lg hover:bg-green-700 transition-colors"
  >
    <ng-icon name="bootstrapCartPlus" class="text-3xl"></ng-icon>
  </button>
</div>
