<div class="p-4">
  <!-- Summary -->
  <section class="mb-8">
    <h2
      class="text-3xl font-semibold mb-4 border-b-2 border-gray-700 inline-block"
    >
      Toimitusehdot
    </h2>
    <p class="text-gray-600">
      BittiBoksi tarjoaa nopeita ja luotettavia toimituksia asiakkailleen
      Suomessa. Tämä sivu kattaa toimitusehdot, jotka koskevat tuotteiden
      tilaamista ja vastaanottamista. Lue lisää toimitusprosessista,
      maksutavoista ja muista tärkeistä tiedoista alla olevista osioista.
    </p>
  </section>

  <!-- Shipping information -->
  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Toimitus</h3>
    <p class="text-gray-700">
      Toimitamme tilaukset nopeasti ja luotettavasti kaikkialle Suomeen.
      Tilaukset pyritään käsittelemään 1-2 työpäivässä. Käytämme seuraavia Posti
      Oy:n palveluita tilausten lähettämiseen:
    </p>
    <ul class="my-4 list-disc list-inside text-gray-700">
      <li>
        Tavallinen kirje ilman seurantakoodia (paino alle 50g ja paksuus alle
        3cm)
      </li>
      <li>XXS-paketti seurantakoodilla (paksuus alle 3cm)</li>
      <li>S-paketti seurantakoodilla</li>
    </ul>
    <p class="text-gray-700">
      Posti Group Oyj:n mukaan kirjeet toimitetaan yleensä 4 työpäivässä,
      XXS-paketit 5 työpäivässä ja S-paketit 1-3 työpäivässä.
    </p>
    <p class="text-gray-700 mt-4">
      HUOM! Emme hyvitä kadonneita toimituksia ilman seurantakoodia (esim.
      kirjeet). Jos epäilet toimituksen kadonneen, ota yhteyttä
      asiakaspalveluun. Suosittelemme valitsemaan seurantakoodillisia
      toimitustapoja suurille tilauksille.
    </p>
  </section>

  <!-- Payment methods -->
  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Maksutavat</h3>
    <p class="text-gray-700">
      Tilausten maksut käsittelee Stripe. Saatavilla olevat maskutavat ovat
      pankkikortti, Apple Pay, Google Pay, Link, MobilePay ja Klarna.
    </p>
  </section>

  <!-- Returns and refunds -->
  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">
      Palautukset ja hyvitykset
    </h3>
    <p class="text-gray-700">
      Mikäli et ole tyytyväinen tilaamaasi tuotteeseen, voit palauttaa sen 14
      päivän kuluessa vastaanottamisesta. Ilmoita palautuksesta
      asiakaspalvelumme sähköpostiosoiteeseen ennen tuotteen lähettämistä.
      Ilmoita seuraavat tiedot viestissä: tilaustunnus, nimi, puhelinnumero ja
      pankkinumero IBAN-muodossa. Palautettavan tuotteen tulee olla käyttämätön
      ja myyntikelpoinen. Kuluttaja vastaa palauttamisesta johtuvista kuluista.
      Palautuksen jälkeen hyvitys suoritetaan viimeistään 14 päivän kuluttua tai
      kunnes olemme vastaanottaneet tuotteen.
    </p>
    <p class="text-gray-700 mt-4">
      Mikäli saat viallisen tai virheellisen tuotteen, ota meihin yhteyttä heti,
      viimeistään 14 päivän kuluessa vastaanottamisesta. Ilmoita viallisesta
      tuotteesta asiakaspalvelumme sähköpostiosoiteeseen antamalla kuvauksen
      viasta ja seuraavat tiedot: tilaustunnus, nimi, puhelinnumero,
      pankkinumero IBAN-muodossa ja palautuksesta koituvat kustannukset.
      Kuluttajan tulee lähettää tuote takaisin halvimmalla mahdollisella
      tarjoamallamme toimitustavalla. Jos tuote todetaan vialliseksi, tuotteen
      hinta ja palautuksesta kertyvät postikulut hyvitetään. Mikäli tilauksen
      kaikki tuotteet ovat viallisia, myös toimitusmaksut hyvitetään. Hyvitys
      suoritetaan viimeistään 14 päivän kuluttua tai kunnes olemme
      vastaanottaneet tuotteen.
    </p>
    <p class="text-gray-700 mt-4">
      Pidätämme oikeuden peruuttaa tilaus, jos siihen on erityinen syy, kuten
      maksuhäiriö, tuotteen loppuminen varastosta tai muu yllättävä tilanne.
    </p>
  </section>

  <!-- Contact info -->
  <section class="light-card">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Ota yhteyttä</h3>
    <p class="text-gray-700">
      Jos sinulla on kysyttävää toimitusehdoista, tilauksista, tuotteista tai
      muista aiheista, ota yhteyttä asiakaspalveluumme:
    </p>
    <ul class="space-y-4 mt-4 text-gray-700">
      <li><strong>Sähköposti:</strong> bittiboksi.aspa&#64;gmail.com</li>
      <li><strong>Puhelin:</strong> +358 445 065 576</li>
    </ul>
  </section>
</div>
