<footer class="text-white p-4 sm:p-6">
  <div class="gap-4 flex justify-evenly sm:gap-8">
    <!-- Yritys section -->
    <div>
      <h4
        class="text-md sm:text-lg font-semibold mb-3 border-b-2 border-gray-600 pb-1"
      >
        Yrityksemme
      </h4>
      <ul class="space-y-2">
        <li>
          <a
            href="/tietoa-meistä"
            class="text-sm hover:underline hover:text-gray-300 transition-colors"
            >Tietoa meistä</a
          >
        </li>
        <li>
          <a
            href="/toimitusehdot"
            class="text-sm hover:underline hover:text-gray-300 transition-colors"
            >Toimitusehdot</a
          >
        </li>
        <li>
          <a
            href="/tietosuojaseloste"
            class="text-sm hover:underline hover:text-gray-300 transition-colors"
            >Tietosuojaseloste</a
          >
        </li>
      </ul>
    </div>

    <!-- Tuotteet section -->
    <div>
      <h4
        class="text-md sm:text-lg font-semibold mb-3 border-b-2 border-gray-600 pb-1"
      >
        Tuotteet
      </h4>
      <ul class="space-y-2">
        <li>
          <a
            href="/"
            class="text-sm hover:underline hover:text-gray-300 transition-colors"
            >Kauppa</a
          >
        </li>
        <li>
          <a
            href="/"
            class="hidden text-sm hover:underline hover:text-gray-300 transition-colors"
            >Tarjouksessa</a
          >
        </li>
      </ul>
    </div>

    <!-- Yhteydenotto section -->
    <div>
      <h4
        class="text-md sm:text-lg font-semibold mb-3 border-b-2 border-gray-600 pb-1"
      >
        Yhteydenotto
      </h4>
      <ul class="space-y-2">
        <li>
          <p class="text-sm text-white break-all">
            bittiboksi.aspa&#64;gmail.com
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-6 text-center text-sm text-gray-500">
    <p>&copy; 2024 BittiBoksi</p>
  </div>
</footer>
