<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <div
    *ngFor="let product of products"
    class="bg-gray-800 p-4 rounded-lg shadow-xl transform hover:scale-[1.01] transition-transform"
  >
    <!-- Stock indicator -->
    <div class="flex absolute top-5 right-5 items-center group">
      <div
        class="w-4 h-4 rounded-full"
        [class.bg-green-500]="product.stock > 0"
        [class.bg-red-500]="product.stock <= 0"
      ></div>
      <span
        class="absolute w-24 right-8 mt-1 opacity-0 group-hover:opacity-100 px-2 py-1 text-xs text-white bg-gray-600 rounded-lg transition-opacity"
      >
        {{
          product.stock > 0 ? "Varastossa: " + product.stock : "Ei varastossa"
        }}
      </span>
    </div>

    <!-- Image -->
    <a [routerLink]="'/tuote/' + product.slug">
      <img
        [src]="apiUrl + '/assets/' + product.slug + '.jpg'"
        alt="Product image"
        class="w-full h-48 object-cover rounded-lg border-2 border-gray-600 mb-4"
      />
    </a>

    <!-- Name -->
    <div class="text-white">
      <a [routerLink]="'/tuote/' + product.slug">
        <h3 class="text-lg font-semibold hover:text-gray-600 transition-colors">
          {{ product.name }}
        </h3>
      </a>
    </div>

    <!-- Price and cart controls -->
    <div class="flex flex-row items-center justify-between pt-2">
      <p class="text-white text-xl font-semibold pb-1">{{ product.price }} €</p>
      <app-cart-controls-small [product]="product"></app-cart-controls-small>
    </div>
  </div>
</div>
