<div class="p-6 bg-gray-100 rounded-lg shadow-md">
  <h2 class="text-2xl font-bold text-gray-800 mb-6">Kassa</h2>

  <!-- Shipping info -->
  <section class="bg-white rounded-lg p-6 shadow-md mb-6">
    <h3 class="text-lg font-semibold text-gray-800 mb-4">Toimitustiedot</h3>

    <div class="grid grid-cols-2 gap-6">
      <div>
        <label class="shipping-info-label">Nimi</label>
        <input class="shipping-info-input" [(ngModel)]="shippingInfo.name" />
      </div>

      <div>
        <label class="shipping-info-label">Puhelin (ei pakollinen)</label>

        <div class="relative">
          <span class="absolute left-2 top-1/2 transform -translate-y-1/2"
            >+358</span
          >
          <input
            class="mt-1 pl-12 block w-full border-2 rounded-lg p-3 focus:ring-indigo-500 focus:border-indigo-500"
            [(ngModel)]="shippingInfo.phone"
          />
        </div>
      </div>

      <div>
        <label class="shipping-info-label">Sähköpostiosoite</label>
        <input class="shipping-info-input" [(ngModel)]="shippingInfo.email" />
      </div>

      <div>
        <label class="shipping-info-label">Osoite</label>
        <input [(ngModel)]="shippingInfo.address" class="shipping-info-input" />
      </div>

      <div>
        <label class="shipping-info-label">Postinumero</label>
        <input
          class="shipping-info-input"
          [(ngModel)]="shippingInfo.postalCode"
        />
      </div>

      <div>
        <label class="shipping-info-label">Postitoimipaikka</label>
        <input
          class="shipping-info-input"
          [(ngModel)]="shippingInfo.postalCity"
        />
      </div>
    </div>
  </section>

  <!-- Shipping options -->
  <section class="bg-white rounded-lg p-6 shadow-md mb-6">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">Toimitustapa</h3>
    <ul class="space-y-4">
      <li
        *ngFor="let option of shippingOptions"
        class="flex items-center border-b pb-4"
      >
        <img
          [src]="option.image"
          alt="{{ option.name }}"
          class="w-20 h-12 rounded-full mr-4"
        />
        <div class="flex-1">
          <h4 class="text-lg font-bold text-gray-800">{{ option.name }}</h4>
          <p class="text-sm text-gray-600">{{ option.description }}</p>
        </div>
        <div class="text-right">
          <p class="text-sm text-gray-500">
            Toimitusaika: {{ option.delivery_time }}
          </p>
          <p class="text-lg font-semibold text-gray-800">
            {{ option.price | currency : "EUR" : "symbol" : "1.2-2" }}
          </p>
        </div>
        <input
          type="radio"
          [id]="option.name"
          name="delivery"
          class="ml-4"
          [value]="option.name"
          (change)="onSelectOption(option.name)"
          [checked]="selectedOption === option.name"
        />
      </li>
    </ul>
  </section>

  <!-- Order summary -->
  <section class="bg-white rounded-lg p-6 shadow-md mb-6">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">
      Tilauksen yhteenveto
    </h3>
    <ul class="space-y-4">
      <li class="flex justify-between">
        <span>Arduino Uno R3</span>
        <span>24,90€</span>
      </li>
      <li class="flex justify-between">
        <span>Moottorinohjainmoduuli</span>
        <span>12,90€</span>
      </li>
      <li class="flex justify-between font-bold">
        <span>Yhteensä:</span>
        <span>37,80€</span>
      </li>
    </ul>
  </section>

  <!-- Payment methods -->
  <section class="bg-white rounded-lg p-6 shadow-md mb-6">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">Maksutavat</h3>
    <ul class="space-y-2">
      <li>
        <input type="radio" id="klarna" name="payment" class="mr-2" />
        <label for="klarna">Klarna</label>
      </li>
      <li>
        <input type="radio" id="paypal" name="payment" class="mr-2" />
        <label for="paypal">PayPal</label>
      </li>
      <li>
        <input type="radio" id="credit" name="payment" class="mr-2" />
        <label for="credit">Luottokortti</label>
      </li>
    </ul>
  </section>
</div>
