<app-unsupported-screen-page
  *ngIf="isSmallScreen"
></app-unsupported-screen-page>

<div *ngIf="!isSmallScreen">
  <div class="min-h-screen flex flex-col bg-light">
    <header class="w-full bg-primary fixed top-0 z-50">
      <div class="mx-auto px-4 sm:max-w-sm md:max-w-md lg:max-w-lg">
        <app-navbar></app-navbar>
      </div>
    </header>

    <div
      class="w-full bg-yellow-300 text-center p-2 text-black font-bold fixed top-12 z-50"
    >
      Verkkokauppa on suljettu väliaikaisesti
    </div>

    <main
      class="flex-grow w-full mx-auto px-4 mt-24 sm:max-w-sm md:max-w-md lg:max-w-lg"
    >
      <router-outlet></router-outlet>
    </main>

    <footer class="w-full bg-primary mt-4">
      <div class="mx-auto px-4 sm:max-w-sm md:max-w-md lg:max-w-lg">
        <app-footer></app-footer>
      </div>
    </footer>
  </div>
</div>
