<div *ngIf="product" class="flex flex-col items-center">
  <!-- Product Card -->
  <div
    class="flex flex-col pl-4 pb-4 pt-2 w-full bg-primary rounded-lg relative"
  >
    <!-- Back Link -->
    <a
      class="pb-1 text-md text-gray-300 self-start hover:text-white cursor-pointer"
      (click)="goBack()"
    >
      &larr; Takaisin
    </a>

    <div class="flex">
      <!-- Image -->
      <img
        [src]="product.image"
        alt="Product image"
        class="md:w-96 sm:w-52 h-auto object-cover rounded-lg"
      />

      <!-- Info -->
      <div class="flex flex-col justify-between ml-8 text-white md:py-6">
        <!-- Name -->
        <h2 class="text-3xl font-bold">{{ product.name }}</h2>

        <!-- Price -->
        <p class="text-3xl font-semibold">
          {{ product.price | currency : "EUR" : "symbol" : "1.2-2" }}
          <span class="text-lg font-normal">(sis alv.)</span>
        </p>

        <!-- Stock quantity -->
        <p class="text-base">
          <span class="font-medium">Saatavuus:</span>
          <span class="text-white">
            {{
              product.stock > 0
                ? product.stock + " kpl varastossa"
                : "Ei varastossa"
            }}
          </span>
        </p>

        <!-- Cart controls -->
        <app-cart-controls-large [product]="product"></app-cart-controls-large>
      </div>
    </div>
  </div>

  <!-- Description and Features -->
  <div class="flex flex-col w-full mt-4 p-4 bg-primary rounded-lg">
    <!-- Description -->
    <h3 class="text-xl font-bold text-white">Tuotekuvaus</h3>
    <p class="mt-2 text-gray-300">{{ product.description }}</p>
  </div>
</div>
